
  <div class="container main-container">
       <% flash.each do |message_type, message| %>
          <div class="<%= message_type %>"><%= message %></div>
        <% end %>
      <h1>Share a secret about one of your neighbour</h1>
     <div class="pagination-wrapper">
     <%= will_paginate @posts, id: "aaa" %>
     </div>
    <%= render @posts %>
  </div>